<header class="header">
    <nav class="nav">
        <div>
            <img src="Images/logo.png" alt="" class="nav_img">
            <img src="Images/logoText.png" alt="" class="nav_img">
        </div>
        <div class="cont_nav_flex">
            <ul class="nav_flex">
                <li class="nav_li">
                    <a href="#">Ученики</a>
                </li>
                <li class="nav_li">
                    <a href="#">Добавить ученика</a>
                </li>
                <li class="nav_li">
                    <a href="#">Посещаемость</a>
                </li>
                <li class="nav_li">
                    <a href="#">Выход</a>
                </li>
            </ul>
        </div>
    </nav>
</header>