<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/attendance.css">
    <title>посещаемость</title>
</head>
<body>
    {{> menuAdmin}}
    <main class="main">
        <div class="table">
            {{#each lessons}}
                <div class="table_item">
                    <div class="les_item">{{this.date}}</div>
                    <div class="les_item">{{this.location}}</div>
                    <div class="les_item">
                        <a href="admin/attendance/{{this.id}}">подробнее</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </main>
</body>
</html>