<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/attendance.css">
    <title>уроки</title>
</head>
<body>
    {{> menuAdmin}}
    <main class="main">
        <div class="table">
            {{#each lessons}}
                <div class="table_item">
                    <div class="les_item">Время: {{this.date}}</div>
                    <div class="les_item">Ментор: {{this.mentor}}</div>
                    <div class="les_item">
                        <form action="/admin/attendance/{{this.id}}" method="POST" class="cont_les">
                            <input type="submit" class="les_text" value="подробнее">
                        </form>
                    </div>
                </div>
            {{/each}}
        </div>
    </main>
</body>
</html>