body {
  margin: 0px;
  background-image: url("../Images/main.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 540px) {
  .header {
    z-index: 2;
    width: 100%;
  }
  .nav {
    display: flex;
    background-color: rgb(120, 6, 173);
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 16px;
    width: 100%;
    position: relative;
  }
  .nav_img {
    max-height: 3rem;
  }
  .nav_link {
    display: none;
  }
  .model_btn {
    position: relative;
  }
  .btn_body {
    position: relative;
    width: 2rem;
    height: 1.2rem;
    cursor: pointer;
  }
  .btn_body .btn_span {
    left: 0;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 44%;
    height: 15%;
  }
  .btn_body::after,
.btn_body::before {
    left: 0;
    width: 100%;
    background-color: white;
    position: absolute;
    content: "";
    height: 15%;
  }
  .btn_body::before {
    top: 0;
  }
  .btn_body::after {
    bottom: 0;
  }
  .shadow_body {
    height: 0;
    width: 100%;
    top: 63px;
    left: 0;
    position: fixed;
    z-index: 10;
    background-image: url("../Images/main.png");
    background-size: 150vh;
    background-position: center;
    background-repeat: no-repeat;
  }
  .active_sb {
    height: 100vh;
    transition-property: height;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
  }
  .active span {
    transform: scale(0) translate(0px, -50%);
  }
  .active::before {
    top: 50%;
    transform: rotate(45deg);
    transition: 0.2s;
    z-index: 12;
  }
  .active::after {
    top: 50%;
    transform: rotate(-45deg);
    transition: 0.2s;
    z-index: 12;
  }
  .active_nf {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
    height: 83vh;
    justify-content: space-around;
    z-index: 12;
  }
  .active_nf .nav_li {
    position: relative;
    height: 1.5rem;
    border-bottom: 1px rgba(255, 254, 254, 0.5) solid;
    padding: 3px;
    background-color: rgba(45, 32, 106, 0.5);
  }
  .active_nf .nav_link {
    width: 100%;
    left: 0;
    position: absolute;
    display: block;
  }
  .img_sect_1 {
    width: 100%;
    max-height: 25rem;
  }
  .sect_who {
    text-align: center;
  }
  .text {
    color: white;
    font-size: 0.85rem;
  }
  .h_text {
    font-size: 1.05rem;
    color: white;
    text-align: center;
  }
  .grid_who {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .img_g_1 {
    height: 5rem;
  }
  .img_g_2 {
    height: 4rem;
    width: 9.5rem;
  }
  .img_g_3 {
    height: 5rem;
    width: 5rem;
  }
  .img_g_4 {
    height: 5rem;
    width: 3.5rem;
  }
  .img_g_5 {
    height: 5rem;
  }
  .img_g_6 {
    height: 4.5rem;
  }
  .mini_h {
    font-size: 0.95rem;
    color: white;
  }
  .study_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    text-align: center;
    transform: translateY(-3rem);
  }
  .el_grid_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .el_grid_img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .el_grid_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .el_grid_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .el_grid_3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .el_grid_4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .el_grid_5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .el_grid_6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .el_grid_7 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .el_grid_8 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .el_grid_9 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .el_grid_10 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .el_grid_11 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .el_grid_12 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .h_teach {
    text-align: center;
    margin-top: 3rem;
  }
  .text_study {
    color: white;
    font-size: 0.75rem;
  }
  .how_teach {
    text-align: center;
    margin-bottom: 0;
  }
  .img_learn {
    width: 10rem;
  }
  .how_text {
    color: white;
    font-size: 0.85rem;
    text-align: center;
  }
  .flex_how_teach {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .flex_ht {
    min-width: 5rem;
  }
  svg:not(:root).svg-inline--fa {
    overflow: visible;
  }
  .svg-inline--fa.fa-stack-2x {
    height: 2em;
    width: 2.5em;
  }
  .svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    vertical-align: -0.125em;
  }
  .svg-inline--fa {
    font-size: inherit;
    display: inline-block;
  }
  .fa-stack-1x,
.fa-stack-2x {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(-30%);
  }
  .fa-4x {
    font-size: 2em;
  }
  .fa-stack {
    display: inline-block;
    height: 2em;
    position: relative;
    width: 2.5rem;
  }
  .get_to_lesson_1 {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-top: 3rem;
  }
  .get_to_lesson_2 {
    color: white;
    text-align: center;
    font-size: 0.85rem;
  }
  .grid_try_lesson {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
  }
  .svg-inline--fa.fa-stack-1x {
    height: 1em;
    width: 2.5em;
  }
  .try_lesson {
    display: flex;
    justify-content: center;
    font-size: 0.85rem;
  }
  .cont_text_tl {
    margin-top: 0.5rem;
  }
  .footer_grid {
    color: white;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .svg-inline--fa---footer {
    transform: translateX(-0.3rem);
  }
  .fa-w-14 {
    width: 2rem;
  }
  .svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    vertical-align: -0.125em;
  }
  .fa-phone {
    width: 1rem;
    margin-bottom: 1rem;
  }
  .fa-map-marker-alt {
    width: 1rem;
  }
  .fa-w-17 {
    margin-top: 1rem;
  }
  .fa-map-marker-alt {
    float: left;
  }
  .title_text {
    text-align: center;
    margin-bottom: 16px;
    font-size: 1.1rem;
  }
  .title_text_3 {
    text-align: center;
    margin-bottom: 0.8px;
    font-size: 1.1rem;
  }
  .container_svg_text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phone_text {
    font-size: 0.9rem;
  }
  .social {
    font-size: 0.85rem;
    margin: 0.5rem;
  }
  .cont_a_footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .position_map_text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 0.8rem;
  }
  .a_phone {
    margin: 1rem;
  }
  .a_alt {
    margin-top: 1.4rem;
    margin-left: 1rem;
    text-align: center;
  }
  .text_marker_3 {
    margin-bottom: 0.6rem;
  }
  .title_footer {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
  }
  .active_h {
    position: fixed;
    top: 0px;
  }
  .el_who {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 540px) {
  .header {
    z-index: 2;
    width: 100%;
  }
  .nav {
    display: flex;
    background-color: rgb(120, 6, 173);
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 16px;
    width: 100%;
    position: relative;
  }
  .nav_img {
    max-height: 3rem;
  }
  .nav_link {
    display: none;
  }
  .model_btn {
    position: relative;
  }
  .btn_body {
    position: relative;
    width: 2rem;
    height: 1.2rem;
    cursor: pointer;
  }
  .btn_body .btn_span {
    left: 0;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 44%;
    height: 15%;
  }
  .btn_body::after,
.btn_body::before {
    left: 0;
    width: 100%;
    background-color: white;
    position: absolute;
    content: "";
    height: 15%;
  }
  .btn_body::before {
    top: 0;
  }
  .btn_body::after {
    bottom: 0;
  }
  .shadow_body {
    height: 0;
    width: 100%;
    top: 63px;
    left: 0;
    position: fixed;
    z-index: 10;
    background-image: url("../Images/main.png");
    background-size: 150vh;
    background-position: center;
    background-repeat: no-repeat;
  }
  .active_sb {
    height: 100vh;
    transition-property: height;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
  }
  .active span {
    transform: scale(0) translate(0px, -50%);
  }
  .active::before {
    top: 50%;
    transform: rotate(45deg);
    transition: 0.2s;
    z-index: 12;
  }
  .active::after {
    top: 50%;
    transform: rotate(-45deg);
    transition: 0.2s;
    z-index: 12;
  }
  .active_nf {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
    height: 83vh;
    justify-content: space-around;
    z-index: 12;
  }
  .active_nf .nav_li {
    position: relative;
    height: 1.5rem;
    border-bottom: 1px rgba(255, 254, 254, 0.5) solid;
    padding: 3px;
    background-color: rgba(45, 32, 106, 0.5);
  }
  .active_nf .nav_link {
    width: 100%;
    left: 0;
    position: absolute;
    display: block;
  }
  .img_sect_1 {
    width: 100%;
    max-height: 25rem;
  }
  .sect_who {
    text-align: center;
  }
  .text {
    color: white;
    font-size: 1rem;
  }
  .h_text {
    font-size: 1.15rem;
    color: white;
    text-align: center;
  }
  .grid_who {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .img_g_1 {
    height: 6rem;
  }
  .img_g_2 {
    height: 5rem;
    width: 12rem;
  }
  .img_g_3 {
    height: 6rem;
    width: 6rem;
  }
  .img_g_4 {
    height: 6rem;
    width: 4rem;
  }
  .img_g_5 {
    height: 6rem;
  }
  .img_g_6 {
    height: 5rem;
  }
  .mini_h {
    font-size: 0.95rem;
    color: white;
  }
  .study_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    text-align: center;
    transform: translateY(-1rem);
    gap: 5px;
  }
  .el_grid_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .el_grid_img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .el_grid_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .el_grid_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .el_grid_3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .el_grid_4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .el_grid_5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .el_grid_6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .el_grid_7 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .el_grid_8 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .el_grid_9 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .el_grid_10 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .el_grid_11 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .el_grid_12 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .h_teach {
    text-align: center;
    margin-top: 3rem;
  }
  .text_study {
    color: white;
    font-size: 0.85rem;
  }
  .how_teach {
    text-align: center;
    margin-bottom: 0;
  }
  .img_learn {
    width: 14rem;
  }
  .how_text {
    color: white;
    font-size: 1rem;
    text-align: center;
  }
  .flex_how_teach {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .flex_ht {
    min-width: 5rem;
    max-width: 32.6rem;
  }
  svg:not(:root).svg-inline--fa {
    overflow: visible;
  }
  .svg-inline--fa.fa-stack-2x {
    height: 2em;
    width: 2.5em;
  }
  .svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    vertical-align: -0.125em;
  }
  .svg-inline--fa {
    font-size: inherit;
    display: inline-block;
  }
  .fa-stack-1x,
.fa-stack-2x {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(-30%);
  }
  .fa-4x {
    font-size: 2em;
  }
  .fa-stack {
    display: inline-block;
    height: 2em;
    position: relative;
    width: 2.5rem;
  }
  .get_to_lesson_1 {
    color: white;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 0;
    margin-top: 3rem;
  }
  .get_to_lesson_2 {
    color: white;
    text-align: center;
    font-size: 1rem;
  }
  .grid_try_lesson {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
  }
  .svg-inline--fa.fa-stack-1x {
    height: 1em;
    width: 2.5em;
  }
  .try_lesson {
    display: flex;
    justify-content: center;
    font-size: 1rem;
  }
  .cont_text_tl {
    margin-top: 0.5rem;
  }
  .footer_grid {
    color: white;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .svg-inline--fa---footer {
    transform: translateX(-0.3rem);
  }
  .fa-w-14 {
    width: 2rem;
  }
  .svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    vertical-align: -0.125em;
  }
  .fa-phone {
    width: 1rem;
    margin-bottom: 1rem;
  }
  .fa-map-marker-alt {
    width: 1rem;
  }
  .fa-w-17 {
    margin-top: 1rem;
  }
  .fa-map-marker-alt {
    float: left;
  }
  .title_text {
    text-align: center;
    margin-bottom: 16px;
    font-size: 1.2rem;
  }
  .title_text_3 {
    text-align: center;
    margin-bottom: 0.8px;
    font-size: 1.1rem;
  }
  .container_svg_text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phone_text {
    font-size: 0.9rem;
  }
  .social {
    font-size: 1rem;
    margin: 0.5rem;
  }
  .cont_a_footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .position_map_text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 0.8rem;
  }
  .a_phone {
    margin: 1.5rem;
  }
  .a_alt {
    margin-top: 1.8rem;
    margin-left: 1rem;
    text-align: center;
  }
  .text_marker_3 {
    margin-bottom: 0.6rem;
  }
  .title_footer {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
  }
  .active_h {
    position: fixed;
    top: 0px;
  }
  .el_who {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .model_btn {
    min-width: 70%;
  }
  .nav {
    height: 5rem;
    justify-content: space-between;
  }
  .btn_body {
    display: none;
  }
  .nav_link {
    display: block;
  }
  #nav_flex {
    display: flex;
    justify-content: space-evenly;
  }
  .shadow_body {
    height: auto;
    top: 0;
    position: static;
    background-image: none;
  }
  .nav_img {
    max-height: 3.3rem;
  }
}
@media screen and (min-width: 1280px) {
  .text {
    font-size: 1.3rem;
  }
  .how_text {
    font-size: 1.3rem;
  }
  .get_to_lesson_2 {
    font-size: 1.3rem;
  }
  .try_lesson {
    font-size: 1.3rem;
  }
  .social {
    font-size: 1.3rem;
  }
  .h_text {
    font-size: 1.5rem;
  }
  .img_g_1 {
    height: 7rem;
  }
  .img_g_2 {
    height: 6rem;
    width: 14.5rem;
  }
  .img_g_3 {
    height: 7rem;
    width: 7rem;
  }
  .img_g_4 {
    height: 7rem;
    width: 4.5rem;
  }
  .img_g_5 {
    height: 7rem;
  }
  .img_g_6 {
    height: 5.5rem;
  }
  .text_study {
    font-size: 1.15rem;
  }
  .mini_h {
    font-size: 1.3rem;
  }
  .get_to_lesson_1 {
    font-size: 1.8rem;
  }
  .title_footer {
    font-size: 1.5rem;
  }
  .title_text {
    font-size: 1.4rem;
  }
  .phone_text {
    font-size: 1.3rem;
  }
  .position_map_text {
    font-size: 1.3rem;
  }
  .a_alt {
    margin-top: 2.2rem;
  }
  .title_text_3 {
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=Pokolenie.css.map */